.app-input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  resize: none;
  background-color: var(--bg-secondary);
  color: var(--fc);
  line-height: 1.4;
}

.app-input::placeholder {
  color: var(--fc-dark);
}

.app-input:focus-visible {
  outline: 1px solid var(--fc-green);
}
