* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-primary: #3f4048;
  --bg-secondary: #27292f;
  --bg-tertiary: #50515b;
  --fc: #c6c7c9;
  --fc-dark: #a1a3a7;
  --fc-green: #599c4c;
  --fc-blue-100: #75b0e1;
  --fc-blue-200: #5989f4;
  --fc-purplish: #754176;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
